@page "/counter/{StartingCount:int}"
@page "/counter"
<AuthorizeView>
    <Authorized>
        <h1>Counter</h1>

        <p>Current count: @newCurrentCount</p>

        <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
    </Authorized>

    <NotAuthorized>
        No counter for you
    </NotAuthorized>
</AuthorizeView>



@code {

    [Parameter] public int StartingCount { get; set; } = 0;

    private int newCurrentCount = 0;

    protected override void OnInitialized()
    {
        newCurrentCount = StartingCount;
    }

    private void IncrementCount()
    {
        newCurrentCount++;
    }
}
