@page "/showcase"
    <div class="d-flex">
    <span class="fas fa-hand-sparkles fa-2x"></span><h3><strong> Showcase</strong></h3>
    </div>


<ParentComponent AlertText="This is an alert" />

@code {

}
